* {
    box-sizing: border-box;
}

html body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.hero {
    background-color: rgba(242, 206, 218, 0.3);
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;


}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    height: 79px;
    width: 79px;
    left: 245px;
    top: 10px;
    border-radius: 0px;

}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;

}

.nav__item {
    margin-right: 28px;
}

.nav__item :last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 16%;
    color: rgba(15, 1, 1, 0.9);
    font-weight: 400;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px 36px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    transition: all 0.8s;
    background-color: #D23166;
}

.content {
    max-width: 100%;
    color: black;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.content__disk {
    width: 50%;
}

.content__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
}

.tittle {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.17;
}

.content__title {
    margin-bottom: 24px;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: #0F0101;
    margin-bottom: 42px;
}

.tittle__element {
    color: #D23166;
}

.content__decor {
    width: 50%;
    position: relative;

}

.content__img {
    position: relative;
    z-index: 10;

}

.content__decor::after {
    content: "";
    width: 365px;
    height: 353px;
    background-color: white;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 1;
    transform: translatex(50%);
}

.content__decor::before {
    content: "";
    width: 100%;
    height: 70%;
    z-index: 20;
    display: block;
    position: absolute;
    background-image: url(../img/milk.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: -20;

}

.food {
    padding: 115px 0px 102px;

}

.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: calc(25% - 30px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.088));
}

.product-card {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 30px;

}

.product-card__img-wrap {
    width: 54px;
    height: 54px;
    overflow: hidden;
    margin: 0 auto;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 18px;
}

.product-card__tittle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;

}

.product-card__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.paragrapg {
    color: black;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 400;

}

.order {
    background: #F8EDF0;
    width: 1600px;
    height: 544.5px;
    left: 0px;
    top: 1263px;

}



.order__containtr {
    align-items: center;
    display: flex;
}

.order__img-wrap {
    width: 50%;
    text-align: center;
    display: flex;
    width: 655px;
    height: 656.8px;
    left: 768px;
    top: 1190px;


}


.order__desk {
    width: 50%;
    padding-left: 109px;
}

.order__acton {
    max-width: 368px;
}





.order__title {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    text-align: center;
    color: #150101;
    margin-bottom: 64px;
    margin-top: 140px;
}


.action__title {
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
}



.order__paragraph {
    height: 98px;
    width: 349px;
    left: 253px;
    top: 1403px;
    border-radius: nullpx;



}



.price {
    line-height: 19px;
    font-weight: 500;
    letter-spacing: 0.1em;
}



.product__container {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    text-align: center;
    color: #150101;
    margin-bottom: 64px;
    margin-top: 140px;
}

.menu {
    text-align: center;
}

.menu__list {
    display: flex;
    text-align: center;
    justify-content: center;
}



.menu__link {
    width: 85px;
    height: 23px;
    left: 1178px;
    top: 2068px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    opacity: 0.6;
    color: black;
}

.menu__color {
    position: absolute;
    width: 93px;
    height: 21px;
    left: 375px;
    top: 2069px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    opacity: 1;
}

.menu__title {
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    text-align: center;
    color: #150101;
    margin-bottom: 64px;
    margin-top: 140px;
}

.product {
    text-align: center;
}

.product__list {
    display: flex;
    text-align: center;
    justify-content: center;
}

.product__item {
    margin-right: 40px;
    align-items: center;
}

.product__item:last-child {
    margin-right: 0px;
}

.product__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.7);
}

.product__color {
    color: #000000;

}

.product__color::after {
    content: "";
    display: block;
    width: 91px;
    height: 2px;
    background-color: red;
}



.product__menu-item {
    width: 100%;
    display: flex;
    position: relative;
}

.product__menu-item:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.image {
    width: 580px;
    height: 415px;
}

.product__menu-content {
    padding-top: 125px;
    margin-left: 85px;
}

.product__menu-content:nth-child(even) {
    margin-right: 85px;
}

.product__menu-title {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.product__menu-paragrap {
    margin-bottom: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.product__menu-price {
    margin-bottom: 10px
}

.price__new {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.price__old {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.7);
}

.feedback {
    padding: 112px 0 149px;
}

.feedback__container {
    display: flex;
}

.feedback__column {
    width: 50%;
}

.reviews {}

.review {}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
}

.avatars__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info__text {}

.user-info__name {}

.user-info__desc {}

.reviews__text {
    max-width: 345px;
    padding-left: 23px;
    position: relative;
}

.reviews__text::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/Group\ \(7\).svg) center/contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(-1, 1);
}

.reviews__text::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/Group\ \(7\).svg);
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: sub;

}

.avatars {
    padding: 0px 40px;
    position: relative;
    max-width: 260px;
}

.avatars__ctrls {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
}

.avatars__ctrl {
    width: 14px;
    height: 14px;
}

.avatars__ctrl-left {
    transform: scale(-1, 1);
}

.avatars__ctrl-right {}

.avatars__ctrl-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.avatars__list {
    display: flex;
    column-gap: 27px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.avatars__item {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.avatars__item.active {
    width: 58px;
    height: 58px;
    border: 1px solid #D64374;

}

.avatars__img {}

.feedback__decor {}